@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap;');

html, body {
  height: 100%; /* Sayfa boyutunu tam olarak kapsasın */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  color: white;
  background: url('/assets/images/arkaplan.png') no-repeat center center fixed;
  background-size: cover; /* Tüm ekranı kaplasın */
  min-height: 100vh; /* Sayfanın tamamını kapsasın */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Üst kısımdan başlaması için */
  height: 100%;
}

body > * {
  z-index: 10; /* Diğer içeriklerin arka plandan üstte olmasını sağlamak */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body * {
  box-sizing: border-box;
}

/* Mobil uyumlu düzenlemeler */
@media (max-width: 768px) {
  html, body {
    background-attachment: scroll; /* Mobilde kaydırma sırasında arka plan düzgün görünsün */
    background-position: center;
    background-size: cover;
  }
}
